<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="An Open Source Podcast Player built with RubyMotion and an exploration into AngularJS">

    <title><%= current_page.data.title || "podstud.io - Nader Hendawi" %></title>
    <link rel="stylesheet" href="/stylesheets/pure.css">

    <link rel="stylesheet" href="/stylesheets/fontawesome/font-awesome.css">
    <link rel="stylesheet" href="/stylesheets/fonts.css">
    <link rel="stylesheet" href="/stylesheets/main-grid.css">
    <link rel="stylesheet" href="/stylesheets/blog.css">
    <link rel="stylesheet" href="/stylesheets/pastie-syntax.css">

    <%= javascript_include_tag  "all" %>
  </head>
  <body class="<%= page_classes %>">
    <div id="layout" class="pure-g">
        <div class="sidebar pure-u-1 pure-u-med-1-4">
            <div class="header">
                <hgroup>
                    <h1 class="brand-title">podstud<span>.io</span></h1>
                    <h2 class="brand-tagline">Nader Hendawi</h2>
                </hgroup>

                <nav class="nav">
                    <ul class="nav-list">
                        <li class="nav-item">
                            <a class="pure-button" href="/"><i class="fa fa-home fa-lg"></i> Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="pure-button" href="/blog"><i class="fa fa-code-fork f-lg"></i> Blog</a>
                        </li>
                        <li class="nav-item">
                            <a class="pure-button" target="_blank" href="http://www.github.com/podstudio"><i class="fa fa-github f-lg"></i> GitHub</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>

        <div class="content pure-u-1 pure-u-med-3-4">
            <div>
              <h1><%= current_article.title unless current_article.nil? %></h1>

              <% if current_article.present? && current_article.data.category.present? %>
                <div class="related-articles">
                  <p>This article is part of the <a href="/<%= current_article.data.category.downcase %>"><%= current_article.data.category %></a> Series.</p>

                  <div class="nav-item">
                    <% if previous_article_in_category.present? %>
                      <% link_to previous_article_in_category, :class => "pure-button" do %>
                        <i class="fa fa-chevron-left fa-lg"></i>
                        <%= previous_article_in_category.title %>
                      <% end %>
                    <% end %>
                  </div>

                  <div class="nav-item right">
                    <% if next_article_in_category.present? %>
                      <% link_to next_article_in_category, :class => "pure-button" do %>
                        <%= next_article_in_category.title %>
                        <i class="fa fa-chevron-right fa-lg"></i>
                      <% end %>
                    <% end %>
                  </div>
                </div>
              <% end %>

              <%= yield %>
                <div class="footer">
                    <div class="pure-menu pure-menu-horizontal pure-menu-open">
                        <ul>
                            <li><a href="/" target="_blank">Home</a></li>
                            <li><a href="https://twitter.com/podstudioapp" target="_blank"><i class="fa fa-twitter"></i> Twitter</a></li>
                            <li><a href="http://github.com/podstudio" target="_blank"><i class="fa fa-github"></i> GitHub</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="http://yui.yahooapis.com/3.14.1/build/yui/yui.js"></script>
    <script>
    YUI().use('node-base', 'node-event-delegate', function (Y) {
        // This just makes sure that the href="#" attached to the <a> elements
        // don't scroll you back up the page.
        Y.one('body').delegate('click', function (e) {
            e.preventDefault();
        }, 'a[href="#"]');
    });
    </script>
</body>
</html>
